<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.diary.frienda.db.diary.DiaryMapper">
    <resultMap type="Diary" id="ResultDiary">
        <result property="diary_id" column="diary_id"></result>
        <result property="user_id" column="user_id"></result>
        <result property="content" column="content"></result>
        <result property="committed_date" column="committed_date"></result>
        <result property="updated_date" column="updated_date"></result>
    </resultMap>
    <resultMap type="MonthlyDiaries" id="ResultMonthlyDiaries">
        <result property="diary_id" column="diary_id"></result>
        <result property="committed_date" column="committed_date"></result>
        <result property="user_selected_sentiment" column="user_selected_sentiment"></result>
    </resultMap>
        
    <!-- TODO : diarysentiment 테이블과 조인하여 한번에 sentiment값 가져오기 -->
    <select id="getAllDiariesByUserId" resultMap="ResultDiary" parameterType="String">
    	SELECT *
    	FROM diary
    	WHERE user_id = #{user_id}
    </select>
    
    <select id="getDiaryIdByUserId" resultType="_int" parameterType="String">
    	SELECT IFNULL(MAX(diary_id), -1)
    	FROM diary
    	WHERE user_id = #{user_id} AND DATE_FORMAT(committed_date, "%Y-%m-%d") = CURDATE()
    </select>
    
    <select id="getLatestDiaryDateByUserId" resultType="String" parameterType="String">
    	SELECT MAX(committed_date)
    	FROM diary
    	WHERE user_id = #{user_id}
    </select>
    
    <select id="getDiaryByUserIdAndDiaryId" resultMap="ResultDiary" parameterType="String">
    	SELECT *
    	FROM diary
    	WHERE user_id = #{user_id} AND diary_id = #{diary_id}
    </select>
    
    <select id="getMonthlyDiariesByUserIdAndDate" resultMap="ResultMonthlyDiaries" parameterType="String">
    	SELECT diary.diary_id, committed_date, user_selected_sentiment
    	FROM diary, diary_sentiment
    	WHERE diary.user_id = #{user_id} AND diary.diary_id = diary_sentiment.diary_id
    	  		AND date_format(committed_date, '%Y-%m') = #{year_month}
    </select>
    
    <insert id="insertDiary" parameterType="Diary">
    	INSERT INTO diary(user_id, content)
    	VALUES(#{user_id}, #{content})
    </insert> 
    
    <update id="updateDiaryContent" parameterType="Diary">
    	UPDATE diary
    	SET content = #{content}
    	WHERE user_id = #{user_id} AND diary_id = ${diary_id}
    </update>
    
</mapper>