<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.diary.frienda.db.food.FoodMapper">
    <resultMap type="Food" id="ResultFood">
        <result property="food_id" column="food_id"></result>
        <result property="food_sentiment" column="food_sentiment"></result>
        <result property="food_name" column="food_name"></result>
        <result property="food_conversation" column="food_conversation"></result>
    </resultMap>
        
    <select id="getFoodBySentiment" resultMap="ResultFood" parameterType="String">
    	SELECT food_name, food_conversation
    	FROM food
    	WHERE food_sentiment = #{food_sentiment}
    </select>
    
    
</mapper>