<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.eopueopu.frenda.db.huntedMonsterLog.HuntedMonsterLogMapper">
    <resultMap type="HuntedMonsterLog" id="ResultHuntedMonsterLog">
        <result property="log_id" column="log_id"></result>
        <result property="user_id" column="user_id"></result>
        <result property="monster_id" column="monster_id"></result>
        <result property="favor_increased" column="favor_increased"></result>
        <result property="hunted_time" column="hunted_time"></result>
    </resultMap>
        
    <select id="getFavorIncreasedValue" parameterType="String" resultType="boolean">
    	SELECT favor_increased
    	FROM hunted_monster_log
    	WHERE log_id = (SELECT MAX(log_id) FROM hunted_monster_log WHERE user_id = #{user_id})
    </select>    
        
    <insert id="insertMonsterLog" parameterType="HuntedMonsterLog">
    	INSERT INTO hunted_monster_log(user_id, monster_id)
    	VALUES(#{user_id}, #{monster_id})
    </insert>
    
    <update id="updateFavorIncreased" parameterType="String">
    	UPDATE hunted_monster_log
    	SET favor_increased = 1
    	WHERE log_id = (SELECT MAX(logDB.log_id) FROM (SELECT log_id FROM hunted_monster_log WHERE user_id = #{user_id}) AS logDB ) 
    </update>
    
    
</mapper>