<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.diary.frenda.db.userFriendStatus.UserFriendStatusMapper">
    <resultMap type="UserFriendStatus" id="ResultUserFriendStatus">
        <result property="user_id" column="user_id" />
        <result property="friend_name" column="friend_name" />
        <result property="favor_value" column="favor_value" />
        <result property="head_accessory_id" column="head_accessory_id" />
        <result property="tail_accessory_id" column="tail_accessory_id" />
        <result property="foot_accessory_id" column="foot_accessory_id" />
        <result property="favor_updated_date" column="favor_updated_date" />
    </resultMap>
    
    <select id="getUserFriendStatusByUserId" resultType="UserFriendStatus" parameterType="String">
    	SELECT friend_name, favor_value
    	FROM user_friend_status
    	WHERE user_id = #{user_id}
    </select>
    
    <select id="getFavorValueByUserId" resultType="_int" parameterType="String">
    	SELECT favor_value
    	FROM user_friend_status
    	WHERE user_id = #{user_id}
    </select>
    
    <select id="checkUserFriendByUserId" resultType="_int" parameterType="String">
    	SELECT COUNT(*)
    	FROM user_friend_status
    	WHERE user_id = #{user_id}
    </select>
    
    <update id="addFavorValue" parameterType="AddFavorValueRequest">
    	UPDATE user_friend_status
    	SET favor_value = favor_value + ${up},
    	favor_updated_date = #{updated_day}
    	WHERE user_id = #{user_id}
    </update>
    
    <insert id="insertNewFriend" parameterType="String">
    	INSERT INTO user_friend_status(user_id, friend_name)
    	VALUES(#{user_id}, #{friend_name})
    </insert>
    
</mapper>