<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
	<!-- mapper에서  패키지명 + 클래스명으로 사용하기 번거로우므로 설정 -->
	<typeAliases>
    	<typeAlias type="com.eopueopu.frenda.db.user.User" alias="User"/>
    	<typeAlias type="com.eopueopu.frenda.db.diary.Diary" alias="Diary"/>
    	<typeAlias type="com.eopueopu.frenda.db.diarySentiment.DiarySentiment" alias="DiarySentiment"/>
    	<typeAlias type="com.eopueopu.frenda.db.food.Food" alias="Food"/>
    	<typeAlias type="com.eopueopu.frenda.db.userFriendStatus.UserFriendStatus" alias="UserFriendStatus"/>
    	<typeAlias type="com.eopueopu.frenda.db.huntedMonsterLog.HuntedMonsterLog" alias="HuntedMonsterLog"/>
    	<typeAlias type="com.eopueopu.frenda.db.request.AddFavorValueRequest" alias="AddFavorValueRequest"/>
    	<typeAlias type="com.eopueopu.frenda.db.sentiment.Sentiment" alias="Sentiment"/>
    	
    	<typeAlias type="com.eopueopu.frenda.response.data.sub.MonthlyDiaries" alias="MonthlyDiaries"/>
    	<typeAlias type="com.eopueopu.frenda.response.data.sub.NegativeSentimentCount" alias="NegativeSentimentCount"/>
    	<typeAlias type="com.eopueopu.frenda.response.data.sub.SentimentString" alias="SentimentString"/>
    </typeAliases>
</configuration>