<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
	<!-- mapper에서  패키지명 + 클래스명으로 사용하기 번거로우므로 설정 -->
	<typeAliases>
    	<typeAlias type="com.diary.frienda.db.user.User" alias="User"/>
    	<typeAlias type="com.diary.frienda.db.test.Test" alias="Test"/>
    	<typeAlias type="com.diary.frienda.db.diary.Diary" alias="Diary"/>
    	<typeAlias type="com.diary.frienda.db.diarySentiment.DiarySentiment" alias="DiarySentiment"/>
    	<typeAlias type="com.diary.frienda.db.userFriendStatus.UserFriendStatus" alias="UserFriendStatus"/>
    </typeAliases>
</configuration>